<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <Syslog name="RFC5424" format="RFC5424" host="${env:SYSLOG_HOST}" port="514"
                protocol="tcp" appName="fitbit-ingest" includeMDC="true"
                mdcId="mdc" connectTimeoutMillis="2000" reconnectionDelayMillis="3000"
                immediateFail="false" ignoreExceptions="false"
                facility="LOCAL0" enterpriseNumber="136419001" newLine="true"
                messageId="Debug" id="App"/>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RFC5424"/>
        </Root>
    </Loggers>
</Configuration>
